body {
	background-color: white;
	margin: 0;}
td {text-align: left;}

.exNormal {
	text-align: center;
	color: white;
}
.exWrongAnswer {
	text-align: center;
	color: red;
	text-decoration: line-through;
}
.exRightAnswer {
	text-align: center;
	color: lightgreen;
}
img {
	border-width: 0;
}
area {
	border-width:0;
}
var {
	font-style: normal;
}
button {
	height: 50px;
	line-height: 40px;
	text-align: center;
	border-width: 2px;
	border-radius: 8px;
/*	font-size: 18px;
	color: gray;*/
	background-color: lightgray;
}
button.keyButton {
	width: 50px;
}
button.keyButtonWide {
	width: 75px;
/*	font-family: arial,sans-serif;
	font-weight: bold;*/
}
.rotate3deg {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}
.layer1, .layer2, .layer3, .layer4, .layer5, .layer9, .layer10 {
	position: absolute;
	width: 1024px; 
	top: 0;
	font-family:sans-serif;
	color: white;
	text-align: center;
} 
.layer1 { z-index: 1; } 
.layer2 { z-index: 2; }
.layer3 { z-index: 3; }
.layer4 { z-index: 4; }
.layer5 { z-index: 5; }
.layer9 { z-index: 9; }
.layer10{ z-index: 10;} 

.editable {
	font-size: 20px;
	text-align: center;
	color: yellow;
}
/* blinking border http://stackoverflow.com/questions/23635271/how-to-make-an-elements-border-flash */
@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: black    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: black    
    }    
}    
.borderBlink{    
    border:1px solid black;
    /* add 'border-color: transparent' if you wish no border to show initially */  
}
.edited {
   -webkit-animation: borderBlink 1s step-end infinite;    
   animation: borderBlink 1s step-end infinite;    
	color: black;
	text-align: center;
	font-size: 20px;
	background-color: white;
   border:1px solid black;
/*	border-width: 1px;
	border-style: solid;
	border-color: black;*/
}