body {
    width: 100%;
    margin: 0;
    background-color: white;
}

td {text-align: left;}

.normal {
	font-size: 18px;
	text-align: center;
	color: white;
}
.wrongAnswer {
	font-size: 18px;
	text-align: center;
	color: red;
	text-decoration: line-through;
}
.rightAnswer {
	font-size: 18px;
	text-align: center;
	color: lightgreen;
	text-decoration: none;
}
img {
	border-width: 0;
}
area {
	border-width:0;
}
var {
	font-style: normal;
}
button {
	height: 50px;
	line-height: 40px;
	text-align: center;
	border-width: 1px;
	border-radius: 8px;
	background-color: lightgray;
}
button.keyButton {
	width: 50px;
	font-weight: bold;
}
button.keyButtonWide {
	width: 75px;
}
.rotate3deg {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}
.layer1, .layer2, .layer3, .layer4, .layer5, .layer6, .layer9, .layer10 {
	position: absolute;
	width: 1024px; 
	top: 0;
	font-family:sans-serif;
	color: white;
	text-align: center;
} 
.layer1 { z-index: 1; } 
.layer2 { z-index: 2; }
.layer3 { z-index: 3; }
.layer4 { z-index: 4; }
.layer5 { z-index: 5; }
.layer6 { z-index: 6; }
.layer9 { z-index: 9; }
.layer10{ z-index: 10;} 

td.editable {
	font-size: 18px;
	text-align: center;
	color: yellow;
}
/* blinking border http://stackoverflow.com/questions/23635271/how-to-make-an-elements-border-flash */
@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: darkgray    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: darkgray    
    }    
}    
.borderBlink{    
    border:1px solid darkgray;
    /* add 'border-color: transparent' if you wish no border to show initially */  
}
td.edited {
   -webkit-animation: borderBlink 1s step-end infinite;    
   animation: borderBlink 1s step-end infinite;    
	color: black;
	text-align: center;
	font-size: 16px;
	background-color: white;
   border:1px solid black;
}